// 有底線的 Sass 程式檔不會轉成 css
$baseSize: 14px;
$baseLineSize: 10px;
$sizeLevel: 2px;
$paddingLevel: 1.2;

@function font($level: 0){
  @if $level < 0 {
    @return $level;
  }
  @return $baseSize + $sizeLevel * round($level);
}

@function rhythm($size) {
  @return ceil($size * $paddingLevel / $baseLineSize) * $baseLineSize;
}

@mixin font ($level: 1, $line-height: auto){
  $size: font($level); // 16 px
  $line: rhythm($size); // 20 px

  // font-size
  font-size: $size;
  // 如果 line-height 為 auto 或傳進來的數字比我算出來的小
  @if $line-height == auto or $line-height < $line{
    line-height: $line;
  }@else{
    line-height: $line-height;
  }
}

@function line($count: 1, $baseLineHeight: 10px){
  @return $baseLineHeight * $count;
}
